.cover-bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
.mt-20{
	margin-top:20px ;
}
.mb-20{
	margin-bottom: 20px;
}
h1,h2{
	font-family: 'lato';
	color: #fff;
	font-weight: 700;
    font-size: 30px;
}
.banner{
	background-size: cover;
	background-image: url(herbal4.jpg);
	height: 100vh;
	width: 100%;
}
.motive{
	background-color:dark;
	

min-height: 100%;
padding-bottom: 100px;


}
.services{
	background-color:light;
	
	min-height: 100%;
margin-top: 50px;
}
.clients{
	background-color:light;
	
	min-height: 100%;
margin-top: 50px;
}
.clientsname{
	font-family: cursive; font-size: 24px; font-style:normal;
}
.about{
	background-color:dark;
	
	min-height: 100%;
margin-top: 50px;
}
.image-container{text-align:center}