*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.mt-20{
  margin-top:20px ;
}
.mb-20{
  margin-bottom: 20px;
}
h1,h2{
  font-family: 'lato';
  color: #fff;
  font-weight: 700;
    font-size: 30px;
}
.banner{
  background-size: cover;
  background-image: url(mountain1.jpg);
  height: 100vh;
  width: 100%;
}
.about{
   background-color:#ffcc25;
   height: 150vh;
}
.section_padding{
  padding: 100px 0;
}
p{
  font-size: 20px;
}
.btn{
  background-color: #1957f3;
  border: 2px solid #1957f3;
  padding: 15px 20px;
  background-size: 10px;
}
.item{
  background-size: contain;
  background-position: center;
}
.contact{
   background-color:#ffcc25;
   height: 130vh;
}
